pre {
	font-family: courier monospace;
}

pre.code {
	font-family: courier new;
	font-size: 10pt;
	border-bottom: 1px dotted black;
}

table th {
	border: 0;
	font-weight: bold;
	padding-top: 1em;
}

table td {
	border: 0;
	padding: 0 1em;
}

table td.numeric {
	text-align: right;
}

table.tabular tr.row0 {
	background-color: #111111;
}

table.tabular tr.row1 {
	background-color: #222222;
}

table.small {
	padding: 0;
	margin: 0;

	border: 0;
	border-collapse: collapse;
}

table.small tr, table.small th, table.small td {
	text-align: center;
	border: 0;
	padding: 0;
	margin: 0;
}

table.small th {
	padding-left: 1px;
	padding-right: 1px;
}

table.borderless {
	padding: 0;
	margin: 0;

	border: 0;
	border-collapse: collapse;
}

table.borderless tr, table.borderless td {
	padding: 0;
	margin: 0;

	border: 0;
}

/* Side Boxes */
.boxes td.boxes {
	width: 220px;

	float: right;
	display: inline;
	
	padding-left: 1em;

	vertical-align: top;

/*	margin: 15px 0 0 5px; */
}

.boxes div.box {
	background-color: #000000;
	border: 5px solid black;
	margin-bottom: 1em;
}

