body {
	background-color: #000000;
	background-image: url(/tp/graphics/background.jpg);
	color: #ffffff;
}

p {
	font-family: Arial, Helvetica, sans-serif;
}

pre { 
	font-family: Courier; 
}

pre.code {
	font-family : courier new;
	font-size : 10pt;
	border-bottom : 1px dotted black;
}

a {  
	font-family: Times, serif; 
	color: #00ff99; 
	text-decoration: none;
}

a:visited {
	color: #ffcc99;
}

p.small { 
	font-size: 8pt;
}

div.small { 
	font-size: 8pt;
}

table {
	width: 100%;
	border: 0;
	padding-top: 1em;
}

table tr {
	background-color: #000000;
}

table td {
